@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}
.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;  
    padding: 34px;
    background-image: url('cover.jpg');
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 20px;
}
.icons{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songiteam{
    height: 3.5rem;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
        justify-content: space-around;
        align-items: center;
        border-radius: 34px;
}
.songcover{
    height: 3rem;
    width: auto;
    margin: 0, 20, 0;
    border-radius: 34px;
}
.timestamp{
    margin: 0, 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 185px;
    font-family: 'Varela Round', sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.2s ease-in;
}